body {
    margin: 0%;
    padding: 0%;
}

form {
  bottom: 0;
  left: 0;
 }


button {
    width: 75%;
    margin-left: 12%;
    margin-bottom: 25%;
}

h6 {

    text-align: center;
    text-decoration: underline;
}

.container-fluid {
    padding: 0rem;
}