<div class="primary">
  <form action="">
    <div class="container">
      <div class="item">
        <label for="">Supplier Name:</label>
        <input type="text" />
      </div>
      <div class="item">
        <label for=""> Supplier Company Name:</label>
        <input type="text" />
      </div>
      <div class="item">
        <label for="">Supplier Main Branch Name:</label>
        <input type="text" />
      </div>
      <div class="item">
        <label for="">Supplier Contact Number:</label>
        <input type="text" />
      </div>
      <div class="item">
        <label for="">Supplier Contact Number:</label>
        <input type="text" />
      </div>
      <div></div>
      <div class="fourth-divider">
        <div class="item">
          <label for="">Supplier Contact Number:</label>
          <input type="text" />
        </div>
        <div class="item">
          <label for="">Supplier Contact Number:</label>
          <input type="text" />
        </div>
        <div class="item">
          <label for="">Supplier Contact Number:</label>
          <input type="text" />
        </div>

        <div class="item">
          <label for="">Supplier Contact Number:</label>
          <input type="text" />
        </div>
        <div class="item">
          <label for="">Supplier Contact Number:</label>
          <input type="text" />
        </div>
        <div class="item">
          <label for="">Supplier Contact Number:</label>
          <input type="text" />
        </div>
        <div class="item">
          <label for="">Supplier Contact Number:</label>
          <input type="text" />
        </div>
        <div class="item">
          <label for="">Supplier Contact Number:</label>
          <input type="text" />
        </div>
        <div class="item">
          <label for="">Supplier Contact Number:</label>
          <input type="text" />
        </div>

        <div class="item">
          <label for="">Supplier Contact Number:</label>
          <input type="text" />
        </div>
      </div>

      <div class="divtester">
        <div class="second-container">
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="date" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
        </div>
        <div></div>
        <div class="third-divider">
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>

          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>

          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
        </div>
        <div></div>
        <div class="fourth-divider">
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>

          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>

          <div class="item">
            <label for="">Supplier Contact Number:</label>
            <input type="text" />
          </div>
        </div>

        <div class="maind">
          maindiv
          <div class="maindiv-second">
            <label for="">First Name :</label>
            <input type="date" />
            <label for="">First Name :</label>
            <input type="text" />
            <label for="">First Name :</label>
            <input type="text" />
            <label for="">First Name :</label>
            <input type="text" />
            <label for="">First Name :</label>
            <input type="text" />
            <label for="">First Name :</label>
            <input type="text" />
            <label for="">First Name :</label>
            <input type="text" />
            <label for="">First Name :</label>
            <input type="text" />
            <label for="">First Name :</label>
            <input type="text" />
          </div>

          <div class="maindiv-third">
            first-second-divider
            <div class="individer">
              <label for="">First Name :</label>
              <input type="text" />
              <label for="">First Name :</label>
              <input type="text" />
              <label for="">First Name :</label>
              <input type="text" />
              <label for="">First Name :</label>
              <input type="text" />
              <label for="">First Name :</label>
              <input type="text" />
              <label for="">First Name :</label>
              <input type="text" />
              <label for="">First Name :</label>
              <input type="text" />
              <label for="">First Name :</label>
              <input type="text" />
              <label for="">First Name :</label>
              <input type="text" />
              <label for="">First Name :</label>
              <input type="text" />
              <label for="">First Name :</label>
              <input type="text" />
              <label for="">First Name :</label>
              <input type="text" />

              <div class="div-div">
                <label for="">First Name :</label>
                <input type="text" />
                <label for="">First Name :</label>
                <input type="text" />

                <label for="">First Name :</label>
                <input type="text" />

                <div class="div-div-div">
                  <label for="">First Name :</label>
                  <input type="text" />
                  <label for="">First Name :</label>
                  <input type="text" />

                  <label for="">First Name :</label>
                  <input type="text" />
                  <div class="div-div-div-div">
                    <label for="">First Name :</label>
                    <input type="text" />
                    <label for="">First Name :</label>
                    <input type="text" />

                    <div class="div-div-div-div-div">
                      <label for="">First Name :</label>
                      <input type="text" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="maindiv-fourth">first-third-divider</div>
          <div class="maindiv-fifth">first-fourth-divider</div>
        </div>
      </div>
    </div>
  </form>
</div>
