/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "font-awesome/css/font-awesome.min.css";
@import "bootstrap-icons/";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dark-theme{
    background-color:#21251F;
    color: #fafafc;;
}